.Button-Group{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.upvote{
  max-width: 75px;
  max-height: 50px;
  padding: 10px;
}
.downvote{
  max-width: 75px;
  max-height: 50px;
  transform: rotateX(180deg);
  padding: 10px;
}