.home-container {
    width: 100%;
    height: 1900px;
    /* border: 8px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9ab5e1;
    background-image: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
}

.home-header {
    width: 90%;
    height: 400px;
    /* border: 4px solid grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
    background-size: cover;
}

.home-title {
    width: 70%;
    height: 5%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 183, 234);
    border-radius: 20px;
    margin-top: 2%;
}

.about-container {
    width: 85%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
    background-color: rgb(237, 183, 234);
    border-radius: 20px;
    margin: 10px 0;
    transition: height 0.42s ease;
    /* border: 2px solid black; */
}

.header-and-text-holder {
    width: 30%;
    height: 85%;
    /* border: 2px solid navy; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container:hover {
    height: 500px;
    background-color: rgb(128, 23, 133);
}

.about-container:hover .about-header {
    font-size: 45px;
    color: rgb(237, 183, 234);
}

.about-container:hover .about-header-container {
    width: 300px;
    height: 120px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container:hover #two {
    left: 9%;
    top: 138%;
}

.about-container:hover #four {
    right: 9%;
    top: 138%;
}

.about-container:hover .space-text {
   opacity: 1;
   z-index: 1;
}


.about-header-container {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.about-header {
    font-size: 30px;
    /* border: 2px solid red; */
    transition: font-size 0.6s ease;
}

.space-text {
    /* border: 2px solid blue; */
    border-radius: 30px;
    width: 350px;
    height: 105px;
    opacity: 0;
    transition: opacity 0.7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 183, 234);
    z-index: -1;
    
}

.space-text-container {
    width: 100%;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.mini-space-text-container-1,
.mini-space-text-container-2 {
  display: flex;
  justify-content: space-around;
  border: 2px solid blue;
}




.home-ref {
    width: 90%;
    height: 35%;
    /* border: 2px solid green; */
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 23, 133);
}

.visit-header {
  width: 30%;
  height: 50px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgb(237, 183, 234);
}

.visit-container {
    width: 98%;
    /* border: 1px solid black; */
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8f69e9;
}

.visit-title-down {
    /* border: 2px solid black; */
    font-size: 22px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: font-size 0.3s ease-out;
    margin-top: 70px;
}

.visit-title-up {
    /* border: 2px solid black; */
    font-size: 22px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: font-size 0.3s ease-out;
    margin-top: 70px;
}

.visit-text-up {
    /* border: 2px solid purple; */
    padding: 0 10px 12px 10px;
    height: 72%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.visit-text-down {
    /* border: 2px solid purple; */
    width: 100%;
    height: 75%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.more-info {
    width: 240px;
    height: 50px;
    /* border: 2px solid blue; */
    opacity: 0;
}

#new-point-1,
#delete-point-1 {
    transition: opacity 0.3s ease;
}

#new-point-2,
#delete-point-2 {
    transition: opacity 0.5s ease;
}

#new-point-3,
#delete-point-3 {
    transition: opacity 0.7s ease;
}

#new-point-4,
#delete-point-4 {
    transition: opacity 0.9s ease;
}

#new-point-5,
#delete-point-5 {
    transition: opacity 1.1s ease;
}

#map-point-1,
#up-point-1 {
    transition: opacity 1.2s ease;
    
}

#map-point-2,
#up-point-2 {
    transition: opacity 0.9s ease;
    
}

#map-point-3,
#up-point-3 {
    transition: opacity 0.6s ease;
    
}

#map-point-4,
#up-point-4  {
    transition: opacity 0.48s ease;
    
}

.report-box:hover .more-info,
.delete-box:hover .more-info,
.map-box:hover .more-info,
.update-box:hover .more-info {
    opacity: 1;
}

.report-box,
.map-box,
.delete-box,
.update-box {
   width: 20%;
   height: 100px;
   margin: 1%;
   padding: 20px 15px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center; 
   border-radius: 20px;
   background-color: rgb(237, 183, 234);
   transition: height 0.2s ease;
   overflow: hidden;
}

 .report-box:hover,
 .delete-box:hover,
 .map-box:hover,
 .update-box:hover {
    height: 480px;
 }

 
 .report-box:hover .visit-title-down,
 .delete-box:hover .visit-title-down,
 .map-box:hover .visit-title-up,
 .update-box:hover .visit-title-up {
    font-size: 25px;
 }

.report-box,
.delete-box {
    align-self: flex-start;
}

.map-box,
.update-box {
    align-self: flex-end;
}


  