.home-container {
    width: 100%;
    height: 1400px;
    /* border: 8px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9ab5e1;
    background-image: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
}

.home-header {
    width: 90%;
    height: 400px;
    /* border: 4px solid grey; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
    background-size: cover;
}

.home-title {
    width: 70%;
    height: 20%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 112, 212);
    border-radius: 20px;
}

.about-container {
    width: 70%;
    height: 200px;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5%;
    background-color: rgb(237, 183, 234);
    border-radius: 20px;
    transition: transform 0.6s ease;
}

.home-ref {
    width: 88%;
    height: 50%;
    /* border: 2px solid green; */
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 23, 133);
}

.visit-header {
  width: 30%;
  height: 50px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  border-radius: 20px;
  background-color: rgb(218, 112, 212);
}

.visit-container {
    width: 98%;
    border: 1px solid black;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8f69e9;
}

.visit-title {
    /* border: 2px solid black; */
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.19s ease;
    opacity: 0;
}

.visit-text {
    /* border: 2px solid purple; */
    width: 100%;
    height: 75%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-info {
    width: 240px;
    height: 40px;
    /* border: 2px solid blue; */
    opacity: 0;
    z-index: -1;
}



#point-1 {
    transition: opacity 0.38s ease;
}

#point-2 {
    transition: opacity 0.68s ease;
}
#point-3 {
    transition: opacity 0.89s ease;
}
#point-4 {
    transition: opacity 1.05s ease;
}

.report-box:hover #point-1,
.report-box:hover #point-2,
.report-box:hover #point-3,
.report-box:hover #point-4 {
    opacity: 1;
    z-index: 0;
}

.report-box,
.heatmap-box,
.delete-box,
.update-box {
   width: 70%;
   height: 100px;
   margin: 1%;
   padding: 2% 1.5%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center; 
   border-radius: 20px;
   background-color: rgb(237, 183, 234);
   transition: height 0.19s ease;
}
 

 .report-box:hover,
 .delete-box:hover,
 .heatmap-box:hover,
 .update-box:hover {
    height: 480px;
 }

 
 .report-box:hover .visit-title,
 .delete-box:hover .visit-title,
 .heatmap-box:hover .visit-title,
 .update-box:hover .visit-title {
    opacity: 1;
 }

.report-box,
.delete-box {
    align-self: flex-start;
}

.heatmap-box,
.update-box {
    align-self: flex-end;
}
