.register-container {
   width: 400px;
   height: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#login-container {
   height: 1000px;
}

.form-container {
   width: 250px;
   height: 250px;
   display: flex;
   
}

#login-form-container {
   height: 500px;
}

#login-form {
   justify-content: space-evenly;
}





