@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.new-post-container {
   margin: 0;
   width: 100%;
   height: 1100px;
   border: 2px solid black;
   display: flex;
   justify-content: center;
   background-color: #9ab5e1;
   background-image: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
   font-family: "Open+sans", 'sans-serif';
}

.new-post-form {
  border: 2px solid black;
  width: 80%;
  height: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5%;
  background-color: rgb(237, 183, 234);

}

.new-form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid blue; */
  padding: 2% 2%;
  margin: 15px 0;
}

.input-label {
    font-size: 24px;
    /* border: 2px solid red; */
}

.box {
    width: 500px;
    height: 45px;
    font-size: 20px;
    transition: 0.3s width ease;
}

.box:focus {
    width: 600px;
}

.category-box {
    width: 500px;
    height: 45px;
    font-size: 20px;
}

.description-box {
   width: 960px;
   height: 150px;
   font-size: 20px;
   transition: 0.3s width ease;
}

.description-box:focus {
    width: 1020px;
}

#counter {
    align-self: flex-end;
}

.new-button-container {
    padding: 1%;
}

.new-btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(128, 23, 133);
    color: white;
    transition: transform 0.2s ease;
}

.new-btn:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 6px black;
}

