.master-container {
  display: flex;
  justify-content: center;
  border: 2px solid navy;
  height: 800px
}

.all-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 2% 0;
  width: 95%;
}

.post-container {
  border: 3px solid purple;
  width: 90%;
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.post-header-container {
  border: 2px solid red;
  width: 95%;
  margin: 0.5% 0;
  
}

.post-header {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
}

#header-name {
  border: 2px solid blue;

}

#header-title {
  border: 2px solid blue;
  width: 525px;
  display: flex;
  justify-content: center;
}

#header-date {
  border: 2px solid blue;

}

.post-body-container {
  border: 2px solid black;
  width: 95%;
  height: 600px;
  margin: 1% 0;
}