@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.register-container {
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
  font-family: "Open+sans", 'sans-serif';
  background-image: linear-gradient(315deg, #9ab5e1 0%, #f39fdc 74%);
 }
 
.register-form-container {
    border: 1px solid black;
    width: 1000px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    background-color: rgb(237, 183, 234);
    
 }

 .register-form {
    width: 800px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid purple; */
    margin-top: 15px;
    background-color: rgb(237, 183, 234);
}

 .register-form-group {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     /* border: 2px solid blue; */
     padding: 2% 2%;
     margin-top: 10px;
}

 .register-box {
     width: 500px;
     height: 45px;
     font-size: 20px;
     transition: 0.3s width ease;
 }
 
 .register-label {
     font-size: 24px;
     /* border: 2px solid red; */
 }

 .register-box:focus {
     width: 600px;
 }

 .error-message {
     color: red;
 }

 .register-button-container {
    padding: 1%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
}

.register-btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(128, 23, 133);
    color: white;
    transition: transform 0.2s ease;
}

.register-btn:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 6px black;
}