.register-container {
  width: 100%;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
 }
 
 .register-form-container {
    width: 900px;
    height: 1400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid red;
 }

 .register-form {
    width: 700px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid purple;
    margin-top: 15px;;
}

 .register-form-group {
     width: 90%;
     height: 100px;
     padding: 20px 5px;
     margin: 20px 0;
     border: 2px solid blue;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .register-box {
     width: 450px;
     height: 50px;
     font-size: 20px;
     transition: 0.3s width ease;
 }

 .register-box:focus {
     width: 510px
 }

 .register-label {
     /* border: 2px solid red; */
     align-self: flex-start;
     margin-left: 86px;
     
 }
 

 .error-message {
     color: red;
 }