.register-container {
   width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .register-form-container {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    
 }

 .form-group {
     margin-top: 5%;
     margin-bottom: 5%;
 }
 

 .error-message {
     color: red;
 }